{% extends "admin/bases.html" %}
 {% import "admin/fy.html" as pg %}

{% block content %}
    
    <div class="x-body">
 <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post">
            {{form.name}}
            {{form.phone}}

         {{form.csrf_token}}
          {{form.submit}}
        </form>
      </div>

              <xblock>

  <button class="layui-btn" onclick="x_admin_show('添加客户名','{{url_for("admin.addCustomerz")}}','1200','450')">添加客户</button>

</xblock>
      <table class="layui-table">
        <thead>
          <tr>

            <th>客户姓名</th>
            <th>手机号码</th>
            <th>联络地址</th>
            <th>客户级别</th>

            <th >操作</th>
            </tr>
        </thead>
        <tbody>
        {% for i in page_data.items %}
          <tr>


            <td>{{i.client_name}}</td>
            <td>{{i.client_phone}}</td>
            <td>{{i.client_addre}}</td>
            <td>{{i.client_credit}}</td>

            <td class="td-manage">
              <a title="删除" onclick="member_del(this,'{{i.client_id}}')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

        {{pg.page(page_data,'admin.customerz')}}

    </div>
    <script>
 function member_del(obj, id) {
              console.log(id)
              layer.confirm('确认要删除吗？', function (index) {
                  //发异步删除数据
                  $.get(
                      'http://127.0.0.1:5050/admin/dellcustomer?id=' + id,

                      function (html) {
                           location.reload();
                      }
                  );
                  $(obj).parents("tr").remove();
                  layer.msg('已删除!', {icon: 1, time: 1000});
              });
          }


    </script>

{% endblock %}